@model IEnumerable<Cinema.Dominio.ASSENTOSALA>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AssentosDisponíveis</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ASSENTO.Numero_Assento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SALA.Nome_Sala)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ASSENTO.Numero_Assento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SALA.Nome_Sala)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id_AssentoSala }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id_AssentoSala }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id_AssentoSala })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
