@model Cinema.Dominio.GENERO

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model.Descricao_Genero)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao_Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao_Genero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { Id_Genero = Model.Id_Genero }) |
    @Html.ActionLink("Voltar", "Index")
</p>
