@model Cinema.Dominio.GENERO

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Confirma a exclusão do gênero selecionado?</h3>
<div>
    <h4>@Html.DisplayNameFor(model => model.Descricao_Genero)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao_Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao_Genero)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
